.TodoList .list_wrapper {
  /* TodoItem 행간격 조절 */
  display: flex;

  flex-direction: column;
  gap: 20px;

  padding: 20px;
  margin-top: 10px;

}


.TodoList .list_wrapper .TodoItem{

  display: flex;
  gap: 10px;
}

.TodoItem .title_col {
  flex: 1;
}